/* body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100%;
} */

body {
  margin: 0;
  width: 99%;
  height: 99vh;
  color: #fff;
  background: linear-gradient(-45deg, #495056, #60666A, #777B7D, #8D9090);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
