/* body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100%;
} */

body {
  margin: 0;
  width: 99%;
  height: 99vh; 
  color: #fff;
  background: linear-gradient(-45deg, #001021,#034748,#1481ba,#11b5e4,#0caadc);
  background-size: 400% 400%;
  animation: gradientBG 40s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
